@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-wrapper {
  /* background-color: red; */
  background-color: white;
  max-width: 100vw;
  min-height: 100vh;
}
header {
  background-color: white;
  text-align: right;
  padding: 10px 30px;
}
header nav a{
  text-decoration: none;
  color: black;
  margin-left: 10px;
  font-weight: 600;
}
.hamburger-button{
  height: 200px;
  display: none;
}
.introduction {
  /* background-color: blueviolet; */
  height: 400px;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 50px;
}
.introduction .detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.introduction .detail h1{
  font-size: 44px;
}
.introduction img {
  height: 243px;
  border-radius: 50%;
}
.introduction button {
  width: fit-content;
  font-size: 20px;
  color: white;
  padding: 1rem;
  background-color: #ff6464;
  cursor: pointer;
  border: none;
}
.title {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.title a{
  text-decoration: none;
  color: #00A8CC;
}
.recent-post {
  background-color: #EDF7FA;
  box-shadow: 0 5px 20px rgba(67, 91, 68, 0.323);

  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}
.featured-work {
  padding: 50px;
  /* background-color: chartreuse; */
}
.recent-post .post{
  /* background-color: blueviolet; */
  
  width: 100%;
  display: flex;
  gap: 10px;
}
.recent-post .post .card{
  padding: 1rem;
  max-width: 418px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.recent-post .post .card h3{
  font-size: 26px;
}
.date-and-type{
  font-size: 18px;
  display: flex;
  width: fit-content;
  gap: 10px;
}
.featured-work{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.featured-work .work{
  /* background-color: aqua; */
  border-bottom: 1px solid gray;
  gap: 20px;
  padding: 10px;
  display: flex;
}
.featured-work .work img{
  border-radius: 10px;
  border: 0px;
  height: 180px;
}
.work .detail{
  width: 100%;
  /* background-color: #ff6464; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.year-worktype{
  display: flex;
  align-items: center;
  gap: 8px;
}
.year{
  background-color: #142850;
  height: 25px;
  border-radius: 12.5px;
  padding-inline: 0.5rem;
  color: white;
  display: flex;
  align-items: center;

}
footer{
  height: 100px;
  /* background-color: #ff6464; */
  display: flex;
  text-align: center;
  justify-content: center;
}
footer p{
  font-size: 14px;
}
.highlight{
  color: #ff6464;
}
.social-media{
  height: 30px;
}
.social-media img{
  height: 100%;
}

@media(max-width:1242px){
  .introduction{
    flex-direction: column-reverse;
    height: fit-content;
  }
  .recent-post .post{
    flex-direction: column;
  }
  .recent-post .post .card{
    max-width: 100%;
  }
  .work{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  header nav{
    display: none;
  }
  .hamburger-button{
    display: inline-block;
    height: 25px;
  }
  .featured-work .work img{
    border-radius: 10px;
    border: 0px;
    height: auto;
  }
}